<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>

<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    <h2>New Tenant</h2>

    <%= simple_form_for @tenant, html: {class: "card_form form-vertical"}, validate: true do |f| %>
      <%= hidden_field_tag 'plan', params[:plan] %>

      <%= form_group_for f, :subdomain do %>
        <div class="input-group">
          <%= f.text_field :subdomain, autofocus: true, class: 'form-control' %>
          <span class="input-group-addon">.scrippet.com</span>
        </div>
      <% end %>

      <%= f.fields_for :account do |a| %>
        <%= form_group_for a, :name do %>
          <div class="input-group top-field">
            <%= a.text_field :name, required: true, placeholder: 'Enter Your Name', class: 'form-control' %>
           <span class="input-group-info">
            <%= a.text_field :email, required: true, placeholder: 'Email Address', class: 'form-control right-field' %>
           </span>
          </div>
          <div class="input-group bottom-field">
            <%= a.text_field :password, required: true, placeholder: 'Choose Password', class: 'form-control' %>
           <span class="input-group-info">
            <%= a.text_field :password_confirmation, required: true, placeholder: 'Confirm Passowrd', class: 'form-control right-field' %>
           </span> 
          </div>
        <% end %>
        
        
      <% end %>

      
      
      <div class="">Credit Card Info</div>
      <%= render 'card_info' %><br />
   
      <%= f.fields_for :account do |a| %>
        <%= a.input :coupon, placeholder: 'Promotional Coupon (if any)', input_html: {class: 'form-control'}, label: false %>
        <%= a.hidden_field :stripe_token %><br />
      <% end %>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
