<% @sticky_pg = true %>

<div class="updateNote nbpaper">
<%= simple_form_for(@note) do |f| %>
  <br />
  <%= f.input :title, input_html: { placeholder: 'Sticky name or title' }, label: false %>
  <%= f.input :body, input_html: { placeholder: 'Type your notes here', class: 'userFields' }, label: false %>
  <div class="note-form-controls">
    <%= f.button :submit, 'Add Sticky', class: 'btn btn-warning' %>
    <%= link_to 'Go Back', notes_path, class: 'btn btn-default' %>
  </div>
<% end %>
</div>
