 <li>
   <span class="draggable">    
     <div class="noteTitle"><%= note.title %></div>
     <div class="noteBody"><%= note.body %></div>
     <div class="noteIcons">
       <%= link_to icon('trash'), note, method: :delete, data: { confirm: 'Are you sure?' } %>
	   <%= link_to icon('pencil'), edit_note_path(note) if note.user == current_user %>	   
       <%= link_to icon('plus'), new_notes_accessor_path(note_id: note.id) %>
     </div>
     <div class="noteOwner"><%= note.user.name %></div>
   </span>
 </li>
 
 

 