<div id="cancel-account" class="modal" style="display: none;">
  <%= simple_form_for resource, :as => resource_name, :url => update_card_path, :html => {:method => :put, :class => 'form-horizontal card_form' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Cancel Your Account</h3>
    </div>
    <div class="nbpapernoglow cancelAcct">
      Canceling your account will stop your monthly billing and delete your '<span class="orange"><%= request.subdomain %></span>' subdomain. Users on this subdomain will no longer be able to login. <span class="warning orange">All Scrippet data will be deleted</span> unless you request a data backup first.
    </div>

    <div class="modal-footer">
      <%= link_to "Backup your Scrippets", registration_path(resource_name), :data => { :confirm => "Are you super duper sure?" }, :method => :delete, :class => 'btn btn-warning' %>
      <%= link_to "Cancel Account", registration_path(resource_name), :data => { :confirm => "Click OK if you really mean it" }, :method => :delete, :class => 'btn btn-warning' %>
      <a class="btn btn-default" data-dismiss="modal" href="#">Close Window</a>
    </div>
  <% end %>
</div>
