  <% if @user.stripe_token %>
    <p>Credit card acceptance is pending.</p>
  <% else %>
    <%= text_field_tag :card_number, nil, name: nil, 
       class: 'form-control top-field', placeholder: 'Credit Card Number' %>
    <div class="input-group">
       <%= text_field_tag :card_code, nil, name: nil, 
          class: 'form-control bottom-field', placeholder: 'Card Security Code (CVV)' %>
       <span class="input-group-exp bottom-field"><span class="exp_label">Expires:</span> 
       <%= select_month nil, {add_month_numbers: false, use_short_month: true}, 
          {name: nil, id: "card_month", class: "exp-control"} %>
       <%= select_year nil, {start_year: Date.today.year+1, end_year: Date.today.year+10}, 
          {name: nil, id: "card_year", class: "exp-control"} %>
       </span>
    </div>  
  <% end %>
 
