<div id="plan-options" class="modal" style="display: none;">

  <%= simple_form_for resource, :as => resource_name, :url => update_plan_path, :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Change Scrippet Plan</h3>
    </div>
  
  <div style="text-align:center;" class="popupbg"> 

  <div class="changePlan plan">
    <div class="plan"><h3>$7 /month</h3></div>
    <div class="changeFeatures">
      10 registered users<br />
      100 notecards per user
    </div>
  </div>  

  <div class="changePlan plan featured-plan">
    <div class="plan featured-plan"><h3>$17 /month</h3></div>
    <div class="changeFeatures">
      25 registered users<br />
      250 notecards per user
    </div>
  </div>

  <div class="changePlan plan">
    <div class="plan"><h3>$27 /month</h3></div>
    <div class="changeFeatures">
      50 registered users<br />
      500 notecards per user
    </div>
   </div>

      <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">  
        <%= f.input :role_ids, collection: Role.where(id: 2), as: :radio_buttons, label: false, 
            label_method: lambda {|r| r.name.titleize}, item_wrapper_class: 'inline' %>
      </label>
      <label class="btn btn-warning">
        <%= f.input :role_ids, collection: Role.where(id: 3), as: :radio_buttons, label: false, 
            label_method: lambda {|r| r.name.titleize}, item_wrapper_class: 'inline' %>
      </label>
      <label class="btn btn-default">  
        <%= f.input :role_ids, collection: Role.where(id: 4), as: :radio_buttons, label: false, 
            label_method: lambda {|r| r.name.titleize}, item_wrapper_class: 'inline' %>
      </label>      
    </div>
    
    </div>
    <div class="modal-footer">
      <%= f.submit "Change Plan", :label_method => lambda {|t| t.name.titleize}, :class => "btn btn-warning" %>
      <a class="btn btn-default" data-dismiss="modal" href="#">Cancel</a>
    </div>
  <% end %>
</div>


    


