<div id="card-data" class="modal" style="display: none;">

  <%= simple_form_for resource, :as => resource_name, :url => update_card_path, :html => {:method => :put, :class => 'form-horizontal card_form' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Change Credit Card</h3>
    </div>

    <div class="modal-body userFields nbpapernoglow">
      <div class="changecc">
          <%= text_field_tag :card_number, nil, name: nil, 
              placeholder: "New Credit Card Number", class: 'ccnumber' %>        
          <%= text_field_tag :card_code, nil, name: nil, 
              placeholder: "CVV Code", class: 'cvv2' %>
        
        <div style="clear:both; margin-bottom:15px;">      
          <div class="expires">Date Card Expires:</div>
          <div class="expiration">
            <%= select_month nil, {add_month_numbers: false}, 
                {name: nil, id: "card_month", class: "exp-control"}%>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, 
                {name: nil, id: "card_year", class: "exp-control"} %>
          </div>
        </div>
      </div>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :stripe_token %>
    </div>

    <div class="modal-footer">
      <%= f.submit "Change Credit Card", :class => "btn btn-warning" %>
      <a class="btn btn-default" data-dismiss="modal" href="#">Close</a>
    </div>
  <% end %>

</div>

