<div id="delete-account" class="modal" style="display: none;">
  <%= simple_form_for resource, :as => resource_name, :url => update_card_path, :html => {:method => :put, :class => 'form-horizontal card_form' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Delete Your Account</h3>
    </div>
    <div class="nbpapernoglow cancelAcct">
      Deleting your account will remove your access from Scrippet.com, but your published scrippets will remain on the site for other users to view. Once you delete your account you cant get it back, you would be forced to create a new account if you decide to return. If you want to take a break from Scrippet, we recommend that you simply stay away while leaving your account in tact, and NOT deleting it. 
    </div>

    <div class="modal-footer">      
      <%= link_to "Delete Account Anyway", registration_path(resource_name), :data => { :confirm => "Click OK if you really mean it" }, :method => :delete, :class => 'btn btn-warning' %>
      <a class="btn" data-dismiss="modal" href="#">Nevermind/Close Window</a>
    </div>
  <% end %>
</div>
