<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>
<div id="stripe_error" class="alert alert-error" style="display:none" ></div>
<div class="userForm nbpaper">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-vertical'}, validate: true) do |f| %>
  <div class="formHeader"><h2>Edit Account</h2></div>
 <%= f.error_notification %>
 <%= display_base_errors resource %>
   <%= @user.stripe_token %>
 <div class="labelss">
   Your Name:<br />
   Email Address:<br />
   New Password:<br />
   Confirm Password:<br />
  </div>
 <div class="userFields editFields">    
   <%= f.input :name, label: false %><br />
   <%= f.input :email, required: true, label: false %><br />
   <%= f.input :password, autocomplete: "off", required: false, placeholder: "If you want to change it", label: false %><br />
   <%= f.input :password_confirmation, placeholder: "Confirm new password", required: false, label: false, validate: true %>   
  </div>
  <div class="signupButton editButtons">
    <div class="currentPass">
     <%= f.input :current_password, placeholder: "Type Current Password", required: true, label: false %>
    </div>    
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, class: 'btn btn-default' %>
    <%= f.button :submit, 'Update Account', class: 'btn-warning' %>
  </div>
<% end %>
</div>
<br />
<% if @user.customer_id.nil? && @user.role_ids != [1] %>

 <div class="userForm deleteacct">
    <div class="deletedet">Need to Delete your Account?</div>
    <a data-toggle="modal" href="#delete-account" class="btn btn-mini" type="button">Delete Account</a>
    <%= render partial: 'deleteacct' %>
 </div>

<% else %>

 <div class="userForm nbpaper">
 <div class="formHeader"><h2>Change Subscription</h2></div>
 <div class="Subscription">
 <div class="changeSub">
  <h4>Scrippet Plan</h4>
  <p>
    <div class="planroledet"><%= @user.roles.first.name.titleize %></div>
    <a data-toggle="modal" href="#plan-options" class="btn btn-mini" type="button">Change plan</a>
  </p>
 </div>
 <div class="changeSub">
  <h4>Credit Card</h4>
  <p>
    <div class="plandet">************<%= @user.last_4_digits %></div>
    <a data-toggle="modal" href="#card-data" class="btn btn-mini" type="button">Change card</a>
  </p>
 </div>
 <div class="changeSub">
  <h4>Cancel Account</h4>

  <p><div class="plandet">Moving on?</div> 
  <a data-toggle="modal" href="#cancel-account" class="btn btn-mini" type="button">Cancel Account</a>
  </p>
  </div>
 </div>
</div>


<!------------------- Change Plan Popup-------------------------------->
<%= render partial: 'changeplan' %>


<!--------------------Change Credit Card Popup------------------------->
<%= render partial: 'changecard' %>


<!--------------------Cancel Account----------------------------------->
<%= render partial: 'cancelacct' %>


<% end %>


