
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical'}, validate: true) do |f| %>

<div class="col-md-6 col-md-offset-3 panel panel-default">
<div class="panel-body">

<h2>User sign up</h2>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= devise_error_messages! %>

  <%= f.input :name, required: true, autofocus: true, placeholder: 'Enter Your Name', input_html: {class: 'form-control'}, label: false %><br />
  <%= f.input :email, required: true, placeholder: 'Email Address', input_html: {class: 'form-control'}, label: false %><br />
  <%= f.input :password, required: true, placeholder: 'Choose Password', input_html: {class: 'form-control top-field'}, label: false %>
  <%= f.input :password_confirmation, placeholder: 'Confirm Passowrd', input_html: {class: 'form-control bottom-field'}, label: false %><br />
  
  <%= f.submit 'Sign up', :class => 'btn btn-primary' %>
<% end %>

</div>
</div>
