<div id="setting-up" class="modal">
  <%= image_tag("logo.png", :border => 0) %>
  <h2>Thanks! Hang tight while we setup your new account!</h2>
  <%= image_tag("setupbar.gif", :border => 0) %>
  <h3>(Once we're done, you'll be redirected to your very own scrippet site!)</h3>
</div>
