<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>

<div id="stripe_error" class="alert alert-error" style="display:none;">
</div>

<%= render 'card_info' %>



  <%= f.input :coupon, placeholder: 'Promotional Coupon (if any)', input_html: {class: 'form-control'}, label: false %>
  <%= f.hidden_field :stripe_token %><br />
