<h3>Users</h3>
<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Registered</th>
          <th>Role</th>
          <th>Role Change</th>
          <th>Follow</th>
          <th>User Delete</th>
          <th>Customer_id</th>
          <th>last_4_digits</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.to_date %></td>
            <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
            <td>    
              <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-primary btn-xs" role="button">Change role</a>
              <%= render user %>
            </td >
            <td>
             <% if current_user.following?(user) %>
                <%= link_to "Unfollow", unfollow_user_path(user) %>
             <% else %>
                <%= link_to "Follow", follow_user_path(user) %>
             <% end %>
            </td>
            <td>
              <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-sm') unless user == current_user %>
            </td>
            <td><%= user.customer_id %></td>
            <td><%= user.last_4_digits %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



