<h2 class="user_post">
  <%= @user.name %>'s Post
    <span style="float:right;">
      Scripper Since <%= @user.created_at.strftime("%b %d, %Y") %>
    </span>
</h2>

<br />

<div class="user_sidebar">
  <div class="follow-div">
    <div class="orange">Followers</div>
    <% @user.user_followers.each do |user| %>
      &nbsp;<%= link_to user.name, user %> 
      <span class="orange">(<%= user.posts.count %> scrippets)</span>
      <br />
    <% end %>
    <% if @user.count_user_followers > 18 %><br />
      <span class="orange see-all">
        <%= link_to 'See all followers', followers_path %>
      </span>
    <% end %>
  </div>

  <div class="follow-div">
    <h3 class="orange">Following</h3>
    <% @user.all_following.each do |user| %>
      &nbsp;<%= link_to user.name, user %> 
      <span class="orange">(<%= user.posts.count %> scrippets)</span>
      <br />
    <% end %>
    <% if @user.following_users_count > 18 %><br />
      <span class="orange see-all">
        <%= link_to 'See all following', following_path %>
      </span>
    <% end %>
  </div>
</div>

<% unless @user.posts.none? %>
  <%= render partial: 'posts/scrippets' %>
<% else %>
  <div class="no_scrippets">
    <a><%= @user.name %> Hasn't Written any Scrippets Yet</a>
  </div>
<% end %>
