<% if current_user %>
<div class="welcomepg"><%= current_user.name %></div>
<% else %>

<div class="centerdiv">
  <div class="app_available nbpapernoglow">
    <%= image_tag('phones.png', border: 0, class: 'phones_img') %>
   
   <div class="header_txt">
    <strong>Scrippet for writers</strong><br /><br />
    <p data-toggle="modal" href="#whatisscrippet" type="button">What is Scrippet? Click here to find out</p>
<%= link_to 'Lease Private Subdomain', join_path, class: 'btn btn-warning home-btn' %>
    <%= link_to 'Join Scrippet Community', new_user_registration_path, class: 'btn btn-warning home-btn' %>

   </div>
    
   <div class="home_buttons"> 
     <%= link_to image_tag('play_g.png', border: 0, class: 'app-btn'), 'javascript:;' %>
     <%= link_to image_tag('app_g.png', border: 0, class: 'app-btn'), 'javascript:;' %>
   </div>

  </div>
  <div class="signin nbpapernoglow">
    <%= simple_form_for(:user, :url => session_path(:user), html: {id:'signin_form'}) do |f| %>
      <div class="signin_header"><strong>Sign in</strong> to Scrippet</div>
        <div class="input-group">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
          </span>
          <%= f.text_field :email, placeholder: 'Enter your Email', class: 'form-control', autofocus: true %>           
        </div>
       <br />
        <div class="input-group">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
          </span>
          <%= f.text_field :password, placeholder: 'Enter your Password', class: 'form-control' %> 
        </div>

      <div class="signin_controls">
        <div class="btn-group">
          <%= link_to "Forgot?", new_password_path(:user), class: 'btn btn-height btn-default' %>
          <%= f.submit 'Sign in', class: 'btn btn-height btn-warning' %>
        </div>
      </div>
    <% end %>
  </div>


</div>


<div id="whatisscrippet" class="modal" style="display: none;">
  Yadda yadda yadda
</div>

<% end %>



