<div class="joinpage">
<h2 style="color:#fff;">There are two ways to Join Scrippet:</h2>
<br /><br />

  <div class="joinblock nbpaper" style="float:left;">
    <div class="joinhead"><h1>Sign up for Scrippet</h1></div>
    <div class="unstyled joinlist">
      Find inspiration to help jumpstart your project<br />
      Share your ideas with other writers<br />
      Collaborate with others on projects<br />
      Collaborate with others on projects<br />
    </div>
    <%= link_to 'Sign Up Free!', new_user_registration_path, :class => 'btn btn-warning btn-lg' %>
  </div>

<div class="plans">
  <div class="welll featured nbpapernoglow">
    <div class="planhead"><h1>Scripper</h1></div>
    <div class="features">
      Automatic Database Backups<br />
      Exclusive to your group<br />
      10 registered users<br />
      100 notecards per user
    </div>
    <div class="pricee">$7 /month</div><br /><br />
    <div class="tenantFields">
    <%= link_to 'Sign Up Now!', new_tenant_path(:plan => 'scripper'), :class => 'btn btn-warning' %>
    </div>
  </div>

  <div class="welll featured nbpapernoglow">
    <div class="planhead featured-plan"><h1>Scrippeter</h1></div>
    <div class="features">
      Automatic Database Backups<br />
      Exclusive to your group<br />
      25 registered users<br />
      250 notecards per user
    </div>
    <div class="pricee">$17 /month</div><br /><br />
    <div class="tenantFields">
    <%= link_to 'Sign Up Now!', new_tenant_path(:plan => 'scrippeter'), :class => 'btn btn-warning' %> 
    </div>
  </div>

  <div class="welll featured nbpapernoglow">
    <div class="planhead"><h1>Scripperator</h1></div>
    <div class="features">
      Automatic Database Backups<br />
      Exclusive to your group<br />
      50 registered users<br />
      500 notecards per user
    </div>
    <div class="pricee">$27 /month</div><br /><br />
    <div class="tenantFields">
    <%= link_to 'Sign Up Now!', new_tenant_path(:plan => 'scripperator'), :class => 'btn btn-warning' %> 
    </div>
</div>

</div>
