<% @signup_pg = true %>

<div class="plans">
<h2 style="color:#fff;">New Tenant Signup Options</h2><br /><br />
  <div class="welll featured nbpapernoglow">
    <div class="plan"><h1>Scripper</h1></div>
    <div class="features">
      Automatic Database Backups<br />
      Exclusive to your group<br />
      10 registered users<br />
      100 notecards per user
    </div>
    <h2 style="color:#f0a441;">$7 /month</h2><br /><br />
    <div class="tenantFields">
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'scripper'), :class => 'btn btn-warning' %>
    </div>
  </div>

  <div class="welll featured nbpapernoglow">
    <div class="plan featured-plan"><h1>Scrippeter</h1></div>
    <div class="features">
      Automatic Database Backups<br />
      Exclusive to your group<br />
      25 registered users<br />
      250 notecards per user
    </div>
    <h2 style="color:#f0a441;">$17 /month</h2><br /><br />
    <div class="tenantFields">
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'scrippeter'), :class => 'btn btn-warning' %> 
    </div>
  </div>

  <div class="welll featured nbpapernoglow">
    <div class="plan"><h1>Scripperator</h1></div>
    <div class="features">
      Automatic Database Backups<br />
      Exclusive to your group<br />
      50 registered users<br />
      500 notecards per user
    </div>
    <h2 style="color:#f0a441;">$27 /month</h2><br /><br />
    <div class="tenantFields">
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'scrippeter'), :class => 'btn btn-warning' %> 
    </div>
</div>
