<script language="JavaScript" type="text/javascript">  
var count =0  
var redirect="<%= posts_path %>"
  
function countDown(){  
 if (count <=0){  
  window.location = redirect;  
 }else{  
  count--;  
  document.getElementById("timer").innerHTML = "This page will redirect in "+count+" seconds."  
  setTimeout("countDown()", 1000)  
 }  
}  
</script>  

<div class="welcomepg">
  Welcome!
</div>

<span id="timer" style="display:none;">  
<script>  
 countDown();  
</script>  
</span>  
