<div class="userForm nbpaper">
  <div class="formHeader"><h2>Sign in</h2></div>

   <div class="userFields signinFields">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), 
                                  :html => {:class => 'form-vertical' }) do |f| %>
    <div class="signin_left">
      <%= f.input :email, autofocus: true, input_html: { placeholder: "Enter your Email" }, label: false %>
    </div> 
    <div class="signin_right">
      <%= f.input :password, input_html: { placeholder: "Enter your Password" }, label: false %>
    </div>
   </div>

   <div class="signupButton">
     <%= f.button :submit, "Sign in", :class => 'btn-warning' %> 

     <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">  
        <%= f.input :remember_me, inline_label: 'Remember Me', label: false, as: :boolean if devise_mapping.rememberable? %>  
      </label>
     </div>
     <div class="signinLinks">
       <%= render "devise/shared/links" %>
     </div>
   </div> 
<% end %>  
</div>



