  <h1 class="center"><%=current_user.name %>'s permissions</h1>
  
  <h2 class="center">Notes I'm Sharing With Others</h1>
  <table class="accessTable" width="100%">  
    <thead>
      <tr>
        <th class="accessHeader">Note</th>
        <th class="accessHeader">Granted to</th>
        <th class="accessHeader">Permissions</th>
      </tr>
    </thead>
    <tbody >
      <% @notes_accessors.each do |accessor| %>
        <tr>    
          <td class="accessCell"><%= accessor.note.title%></td>
          <td class="accessCell"><%= User.find(accessor.notes_accessor_id).email%></td>
          <!-- check if read only or read and write -->
          <% if accessor.access_rights %>
            <td><%= icon('pencil') %> Write</td>
          <% else %>
            <td><%= icon('file') %> Read</td>
          <%end%>
          <td><%= link_to icon('trash'), accessor, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2 class="center">Notes Shared With Me:</h1>
  <table class="accessTable" width="100%">
    <thead>
      <tr>
        <th class="accessHeader">Note</th>
        <th class="accessHeader">Granted by</th>
        <th class="accessHeader">Permissions</th>
      </tr>
    </thead>
    <tbody >
      <% @notes_accessors_by_others.each do |accessor| %>
        <tr>    
          <td class="accessCell"><%= accessor.note.title%></td>
          <td class="accessCell"><%= accessor.access_owner%></td>
          <% if accessor.access_rights %>
            <td><%= icon('pencil') %> Write</td>
          <% else %>
            <td><%= icon('file') %> Read</td>
          <%end%>
          <td><%= link_to icon('trash'), accessor, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
