<!-- A grant permission form. The form allows the user to grant either a read only or read and write permission to one user-->

<div id="sharenote" class="row">
  <div class="span6 offset7">
    <h3>Share this Note</h3>
      <%= simple_form_for @notes_accessor do |f| %>
        <%= f.hidden_field :note_id, :value => @note_id%>
        Users to share with:
        <%= f.collection_select(:notes_accessor_id, User.select(:email).where("email !=?" , current_user.email),:email ,:email) %>
        <br>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default">  
            Read Only
            <%= f.radio_button :access_rights, false , :checked => true , :value => false %>
          </label>
          <label class="btn btn-default">
            Read and Write
            <%= f.radio_button :access_rights, true, :value => true%>
          </label>
        </div>

        <br>

        <%= f.submit "Grant Permission", class: "btn btn-large btn-primary" %>
      <% end %>
  </div>
</div>
