
<%= simple_form_for @post, validate: true do |f| %> 
   <div class="new_scrippet_heading">
     <h3><strong>Category:</strong></h3>   
    <div class="btn-group cat-group" data-toggle="buttons">
      <label class="btn btn-warning cat-btn">  
        <%= f.association :categories, collection: Category.where(id: 1), as: :check_boxes, label: false %>  
      </label>
      <label class="btn btn-warning cat-btn">
        <%= f.association :categories, collection: Category.where(id: 2), as: :check_boxes, label: false %>
      </label>
      <label class="btn btn-warning cat-btn">  
        <%= f.association :categories, collection: Category.where(id: 3), as: :check_boxes, label: false %>  
      </label>
      <label class="btn btn-warning cat-btn">
        <%= f.association :categories, collection: Category.where(id: 4), as: :check_boxes, label: false %>
      </label>
      <label class="btn btn-warning cat-btn">
        <%= f.association :categories, collection: Category.where(id: 5), as: :check_boxes, label: false %>
      </label>
    </div>
  </div>
<div class="nbpapernoglow scripform">  
   <div class="titlebg">
    <%= f.input :title, input_html: { placeholder: 'Scrippet Title'}, label: false %>
   </div>
   
   <%= f.input :body, input_html: { placeholder: 'Type or Paste your Scrippet!'}, label: false %>
</div>
   
  <div class="scrippet_tags">
    <h4>Type in your tags in the box below. Seperate by commas</h4>
    <%= f.input :tag_list, input_html: { id: :post_tags }, label: false  %>
  </div>

  <div class="form-actions">
    <div class="post_buttons">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  posts_path, class: 'btn btn-default' %>
      <%= f.button :submit, 'Submit Scrippet', class: 'btn btn-warning' %>
    </div> 

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">  
        <%= f.input :adult, inline_label: 'Adult Material? (18+)', label: false %>
      </label>
      <label class="btn btn-default"> 
        <%= f.input :terms, label: false, 
            inline_label: 'Agree to Terms? (required)' %>
      </label>
    </div>

    <div class="btn-plain pubdate">Publish Date: <%= f.text_field :publish_date %></div>
 
  </div>

<% end %>
