<% @posts.each do |post| %>

  <%= link_to post_path(post), :class => 'fill-div' do %>
<div class="scrip">
  <div id="scrippet" class="">
  <div class="scriphead">
  <h7><%= post.title %></h7>
  </div>
      <%= post.body %>
    </div>    
    <% end %>    
    <div class="scriptions">
     <div class="scrinfo">
      <strong><%= link_to post.user.name.truncate(17), post.user, :class => 'scrinfo', "data-toggle" => "tooltip", "data-placement" => "top", "title" => "View Scrippets by #{post.user.name}" %></strong><br />
      <%= l post.publish_date, format: :long %><br />      
     </div>
      <div class="btn-group dropup pad" style="float:right;">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
       <span class="glyphicon glyphicon-align-justify white"></span></a>
        <ul class="dropdown-menu optionmenu pull-right">
        <% if current_user && (current_user.has_role?(:admin) || current_user.id == post.user_id) %>
          <li><%= link_to edit_post_path(post), :class => 'optiondivider' do %>
            <span class="glyphicon glyphicon-pencil"></span> Edit<% end %></li>      
          <li><%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span> Delete<% end %></li>
          <li class="divider"></li>
        <% end %>
        <% if current_user && current_user.id != post.user_id %>
          <li>
           <% if current_user.following?(post.user) %>
              <%= link_to unfollow_user_path(post.user) do %>
                <span class="glyphicon glyphicon-thumbs-up"></span> Unfollow
              <% end %>
           <% else %>
              <%= link_to follow_user_path(post.user) do %>
                <span class="glyphicon glyphicon-thumbs-up"></span> Follow
              <% end %>
           <% end %>
          </li>
          <li class="divider"></li>
        <% end %>       
        <li><%= link_to dashboard_path do %><span class="glyphicon glyphicon-thumbs-up"></span> Share<% end %></li>       
       </ul>  
    
     </div>
     <div class="btn-group dropup pad" style="float:right;">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
       <span class="glyphicon glyphicon-tags white"></span></a>
       <ul class="dropdown-menu tagmenu pull-right">
       <!-- <li><span class="glyphicon glyphicon-tag" style="margin-left:10px;"></span>Search a tag</li> 
        <li class="divider"></li> -->
         <li><div class="notag"><%= "No Scrippet Tags" if post.tags.none? %></div><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join() %></li>
       </ul>      
     </div>
    </div>
</div>
<% end %>

<% unless request.path == posts_path || request.path == root_path || @user.posts.count < 4 %>

<div class="see_user_posts">
  <%= link_to posts_path(:user => @user.id) do %>
      See all <%= @user.posts.count %> of <%= @user.name %>'s Scrippets 
  <% end %>
</div>
<% end %>























