<div class="tagdiv">

  <%= form_tag posts_path, method: :get do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: 'form-control' %>
      <span class="input-group-addon">
        <%= button_tag(type: "submit", class: "search_btn") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </span>
    </div>
  <% end %>
  <br />
  <div id="tag_cloud">
    <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
</div>

<div class="scripage">
  <%= render partial: 'scrippets' %>
</div>


