<% @scripbg_pg = true %>

<%- model_class = Post -%>
<div class="scripShow">
  <div class="titlebg titleShow"><%= @post.title %></div>
  <div class="bodyShow"><%= @post.body %></div>
  <div class="tagsShow">Scrippet Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div><br />

<div class="form-actions show" style="margin:0px;"> 
  <div class="post_buttons"> 
    <%= link_to t('.back', :default => t("i'm done reading")),
                posts_path, :class => 'btn btn-warning'  %>
    <% if current_user && (current_user.has_role?(:admin) || current_user.id == @post.user_id) %>
      <%= link_to t('.edit', :default => t("edit/change")),
                edit_post_path(@post), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("delete scrippet")),
                post_path(@post),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-default' %>
    <% end %>
  </div>
  <%= link_to @post.user, "data-toggle" => "tooltip", "data-placement" => "top", "title" => "View Scrippets by #{@post.user.name}" do %>
  <span class="btn btn-plain publishedby">This Scrippet was Published on 
    <strong><%= @post.publish_date %></strong> by <strong>
    <% if @post.user == current_user %>
      <%= @post.user.name.truncate(30) %>
    <% else %>
      <%= @post.user.name.truncate(20) %>
    <% end %></strong></span>
  <% end %>
</div>
</div>
