/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require_self
 *= require_tree .
*/


.registrations, .tenants, .sessions, .join {
    background-color: #f0ad4e;
}

.posts {
    background: #f7f7f7!important;
}

.gray, .gray a {
    color: #777!important;
}

.orange, .orange a {
    color: #f0ad4e!important;
}

.white, .white a {
    color: #fff!important;
}

.left {
    text-align: left!important;
}

.fullwidth {
    width: 100%!important;
}

.textarea {
   border:0px!important;
   -webkit-box-shadow: 0px!important;
   -moz-box-shadow: 0px!important;
   box-shadow:0px!important;
}

.textarea:hover {
   -webkit-box-shadow: 0px 1px 1px #f0ad4e inset, 0px 0px 8px #F0A441!important;
   -moz-box-shadow: 0px 1px 1px #F0A441 inset, 0px 0px 8px #F0A441!important;
   box-shadow: 0px 1px 1px #F0A441 inset, 0px 0px 8px #F0A441!important;
   border-color: #F0A441!important;
}

input[type="text"], input[type="password"], input[type="email"] { 
   border: 0px!important; 
   background: transparent!important; 
   box-shadow: 0px 0px 0px!important;
   -webkit-box-shadow: 0px 0px 0px!important;
   -moz-box-shadow: 0px 0px 0px!important;
   outline: 0;
   color: #555;
   line-height: 25px;     
}

.select {
   display: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    -webkit-box-shadow: inset 0 -5px 9px -10px #F0A441, 0px 8px 3px -7px #F0A441!important;
    -moz-box-shadow: inset 0 -5px 9px -10px #F0A441, 0px 8px 3px -7px #F0A441!important; 
    box-shadow: inset 0 -5px 9px -10px #F0A441, 0px 8px 3px -7px #F0A441!important;
    outline: 0;
    
}

.nbpaper {
    background: white!important;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    -webkit-background-size: 100% 30px!important;
    -moz-background-size: 100% 30px!important;
    -ms-background-size: 100% 30px!important;
    background-size: 100% 30px!important;
    box-shadow: 0px 1px 30px #c46f00; 
    margin-bottom:20px;
}

