// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home.index {
   background:#f0ad4e url('grad.png') top center no-repeat; 
}

.home.index .signin_controls .btn {
   width: 90px;
}

.home.index .modal {
   overflow: hidden!important; 
   width: 800px!important;
   height: 400px!important;
}

.app_available {
   float: left;
   display: inline-block;
   width: 500px;
   border-radius: 5px;
}

.phones_img {
   margin-top: -100px;  
   display: inline;
   float: left;
}
.centerdiv {
   width: 755px;  
   position:absolute;
   left:50%;
   top:50%;
   margin:-130px 0 0 -387px;
   padding: 10px;
}

.header_txt {  
   margin-top: 3px; 
   font-size: 20px;
   border-radius: 3px;
   width: 100%; 
   color: #888;
   text-align: center;
}

.header_txt p {
   font-size: 16px;
   color: #aaa;
   cursor: pointer;
}

.home_buttons {
   background: #fff;
   width: 100%;
   border-radius: 0 0 5px 5px;
   clear:both;
   text-align: left;
   height: 55px;
   padding: 5px 10px;
}

.home-btn {
   background: #edb264;
   width: 190px;
   margin-top: 10px;
}

.app-btn {
   border: 1px solid #888; 
}

.signin {
   float: right;
   width: 220px;
   height: 272px;
   margin-bottom: 0px!important;
   border-radius: 3px;
   padding: 10px;
   position: relative;   
   background: #fff;
}

.signin_controls {
   width:100%;
   position: absolute;
   bottom: 0;
   padding: 10px 7px; 
   margin-left: -10px;
   border-radius: 0 0 2px 2px;
   text-align: center;
}

.signin_header {
   font-size: 22px;
   margin: 8px -5px 30px 0px;
   overflow: hidden;
   white-space: nowrap;
   color: #777;
}

.btn-height {
   height: 35px!important;
}

.feather {
   margin: 0 0 0 30px;
}

.home div.scrip {
   box-shadow: 0px 1px 20px #90682F!important; 
   -moz-box-shadow: 0px 1px 20px #90682F!important;
   -webkit-box-shadow: 0px 1px 20px #90682F!important;
   border: 1px solid #C08A3E!important;
}
.featured_scrippet p {
   font-size: 24px;
   font-weight: bold;
   color: #fff;
}

.deScription {
   text-align: center;
   font-size: 26px;
   font-weight: bold;
   color: #ccc;
}

.welcomepg {
   text-align: center;
   font-size: 100px;
   color: #F0A441;
   font-weight: bold;
   margin-top: 200px;
}
