.joinpage {
    text-align:center;
}

.joinblock {
    width: 340px;
    height: 400px;
    float: left;
}

.joinbg {
    margin: 0 auto;
}

.joinhead {
    background: #ccc;
    color: #fff;
    margin: -20px 0 0 0;
}

.joinhead h1 {
    line-height: 95px;
}

.joinlist {
    font-size: 16px;
    line-height: 60px;
    padding-top: 0px;
}

.joinor {
    float:left;
    padding-left:12px;
    line-height: 440px;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.month {
  width:140px;
  float:left;
  padding: 0 0 10px 0;
}

.year {
  width:110px;
  float:right;
  padding: 0 125px 10px 0;
}

.month2 {
  width:140px;
  float:left;
  padding: 0 0 10px 20px;
}

.year2 {
  width:140px;
  float:right;
  padding: 0 20px 10px 0;
}

.plans { 
  text-align: center;
  float:right;  
}

.pricee {
  color:#f0a441;
  font-size: 22px;
}

.featured{
  -webkit-transform:scale(1.15); 
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.37);
}

.features {
  line-height: 30px;
  padding: 5px 0 16px 0;
  color: #555; 
  font-size: 14px;
  
}

.changeFeatures {
  line-height: 25px;
  margin: 10px 0 -20px 0;
  color: #eee; 
  font-size: 14px;
}

.planhead {
  background-color: #cccccc;
  margin: -22px -22px 22px -22px;
}

.planhead.featured-plan {
  background-color: #f0a441;
}

.planhead h1{
  line-height: 95px;
  color: #fff;
}

.planhead h3{
  line-height: 20px;
  color: #fff!important;
  margin: 25px 0 -2px 0;
}

.plan h1{
  line-height: 130px;
  color: #fff;
}

.plan h3{
  line-height: 20px;
  color: #fff!important;
  margin: 10px 0 -2px 0;
}

.ex {
    font-size: 14px;
    text-align:center;
    color:#f0a441;
    margin-top:-15px;
    margin-bottom:9px;
}

.welll {
    min-height: 20px;
    padding: 22px;
    margin: 0 -5px 20px -5px;
    background-color: #fefefe;
    border-radius: 2px;
    width: 210px;
    display: inline-block;
    padding: 0 22px 22px 22px; 
}

.tenantFields {
    line-height: 16px;
    font-size: 30px;
    margin-top:-16px;
}

.btn-pos {
    margin-top: 10px!important;
}

.plan{
  background-color: #ccc;
}

.plan.featured-plan{
  background-color: #f0a441;
}


