.navbar-inner, nav.navbar-inner {
  background: #f0ad4e!important;
  border-width: 0px 0px 0px 0px!important;
  border-color: #3c2f19!important;
}

nav.navbar-inner nav.navbar-inner, .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner, .navbar .nav > li > a {
  font-size:13px!important;
  box-shadow:0px 0px 0px!important;
}

.navbar-inner, .navbar .nav > li > a { color: #777!important; } 

.brand, .navbar {
  color: #f0ad4e!important;
}

.logo {
  float: left;
}

.head-caption {
  font-size:24px;
  color:#F0A441;
}

#nav_main {
  padding: 5px 0 0 0;
  text-align: center;
}

ul.nav li, ul.nav li a {
  display: inline;
}

.nav { display: inline; line-height: 65px; }

.login-btn {float: right; margin-top: 15px; }

.navbar-top {
  background: #f9f9f9;
  width:100%;
  border-bottom:5px solid #ddd;
}

.space1 {
  padding-left:10px;
}

.space2 {
  padding-left:30px;
}

.nav2div {  
  margin-left:-32px!important;
}

.nav2div {
  float: left;
  width: 900px;
  padding: 22px 0; 
  text-align:left;
  white-space: nowrap;
  overflow: hidden;
}

.nav3div {
  float: left;
  width: 800px;
  padding: 18px 0; 
  text-align:left;
  white-space: nowrap;
  overflow: hidden;
}

.nav2text {  
  padding-left: 32px;
  font-size: 14px;
  color:#fff!important;
}

.headerTxt {
  font-size: 20px;
  color: #fff;
}

.nav2menu, .nav3menu {
  padding: 15px 0 0 0;
  float:right;
}

.nav2text {  
  padding-left: 32px;
  font-size: 14px;
  color:#fff!important;
  text-transform: uppercase;
}

.writer {
  float:right;
  font-size: 18px;
}
  
.nav-btn {
  background-color: rgb(230, 230, 230)!important;
}

.nav-warning {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25)!important;
  background-color: rgb(248, 148, 6)!important;   
}

