body.notes {
background-color: #fff;
background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
background-image: -webkit-linear-gradient(#ddd 2px, transparent 2px),
                  -webkit-linear-gradient(0, #ddd 2px, transparent 2px),
                  -webkit-linear-gradient(rgba(204,204,204,.3) 1px, transparent 1px),
                  -webkit-linear-gradient(0, rgba(204,204,204,.3) 1px, transparent 1px);
background-image: -moz-linear-gradient(#ddd 2px, transparent 2px),
                  -moz-linear-gradient(0, #ddd 2px, transparent 2px),
                  -moz-linear-gradient(rgba(204,204,204,.3) 1px, transparent 1px),
                  -moz-linear-gradient(0, rgba(204,204,204,.3) 1px, transparent 1px);
background-image: linear-gradient(#ddd 2px, transparent 2px),
                  linear-gradient(90deg, #ddd 2px, transparent 2px),
                  linear-gradient(rgba(204,204,204,.3) 1px, transparent 1px),
                  linear-gradient(90deg, rgba(204,204,204,.3) 1px, transparent 1px);
} 

#shownotes, .shownotes {
  margin-top: 140px;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:-1;
}

#updatenotes {
  position:absolute;
  top:150px;
  bottom:0;
  left:0;
  right:0;
  z-index:-1;
  border-top: 5px solid #ccc;
  background: url(cork.jpg);
}

.updateNote {   
    width: 500px;
    height: 460px;
    text-align: justify;
    box-shadow: 0px 1px 30px #c46f00;
    margin: 100px auto 0 auto;
    background: #fff;
}

textarea#note_body {
    background: transparent;
    color: #777;
    border: none;
    box-shadow: none!important;
    resize: none;
    height: 320px;
    width: 500px;
    padding:  5px;
    font-size: 16px;
}

.note-form-controls {
    background: #ddd;
    width: 100%;
    padding: 15px;
}

.noteClass{  
  background:#ffc;  
  width:15em;  
  height:15em;
  box-shadow: 10px 10px 5px #888888;  
}  

.pushIcons{
  padding-top:25px;
}

#shownotes ul, #shownotes li, #sharednotes ul, #sharednotes li{  
  list-style:none; 
}  
#shownotes ul, #sharednotes ul{  
  overflow: hidden;  
  padding:3em;  
  height: 100%;
  margin: 0;
}  

#shownotes ul li span, #sharednotes ul li span {  
  display:block;  
  height:250px;  
  width:250px;  
  padding:1em; 
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);   
}


#shownotes ul li:nth-child(even) span, #sharednotes ul li:nth-child(even) span {  
  -o-transform:rotate(0deg);  
  -webkit-transform:rotate(0deg);  
  -moz-transform:rotate(0deg); 
  background:#FFFFCC;  

}  

#shownotes ul li:nth-child(odd) span, #sharednotes ul li:nth-child(odd) span{  
  -o-transform:rotate(0deg);  
  -webkit-transform:rotate(0deg);  
  -moz-transform:rotate(0deg);  
  background:#fff;  

}  

#shownotes ul li:nth-child(3n) span, #sharednotes ul li:nth-child(3n) span {  
  background:#F5F5DC;  

}  

#shownotes ul li, #sharednotes ul li {  
  margin:1em;  
  float:left;  
}  

.signOutBtn{
  padding-right:50px;}


.newNotebtn{
  padding-left:50px;}

.noteTitle {
    font-size: 24px;
    font-weight: bold;
    color: #656565;
    padding-bottom: 5px;
}

input#note_title {
    padding: 10px;
    width: 100%;
    font-size: 24px;
}

.noteBody {
    float:left;
    width: 220px;
    height: 150px;   
    overflow: hidden;
    position: relative;
    margin: 0 20px 20px 0;
    min-height: 20px; 
    display:block;
}

.noteIcons {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.noteIcon {    
    height: 45px;
    width: 40px;
    padding: 5px;
    margin-right: 2px;
    background: #d5d5d5;
    border-radius: 3px;
}

.noteOwner {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 170px;
    height: 20px;
    overflow:hidden;
    text-align: right;
    font-size: 14Fpluspx;
    color: #888;
}






