// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.posts.index { margin: 170px 0; }

.coming_soon {
    margin-top: 150px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #888;
}

.posts .checkbox {
    
}

.posts label.checkbox {
    cursor: pointer;
}

.new_scrippet_heading {
    background-color: #eee;
    height: 74px;
    padding: 5px 0 0 10px;
    position: relative; 
    color: #aaa;  
    margin-bottom: 20px;
}

.cat-btn {
    padding: 16px 12px;
}

.cat-group {
    position: absolute;
    bottom: 0;
    right: 0;
}

.search_btn {
    border: 0px!important;
    background: none!important;
}


.posts input[type="text"], .home input#user_email, .home input#user_password {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: white;
    background-image: none;
    border: 1px solid rgb(204, 204, 204)!important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.posts input[type="text"]:focus, .home input#user_email:focus, .home input#user_password:focus {
    border-color: #f0a441!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important; 
    box-shadow: none!important;
}

.posts .input-group-addon {
    padding: 6px!important;
}

////////////////////////

// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scripbg_pg {
    background: #f7f7f7!important;
}

.scripage {
    float: left;
    width: 720px;    
}

.scriphead { 
    margin-top: 5px; 
    width: 160px;
    overflow: hidden;
}

.scrip {
    float:left;
    width: 210px;
    height: 340px;   
    position: relative;
    overflow: hidden;
    background-color: #FFF4A7;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 1px 20px #e9e9e9; 
    -moz-box-shadow: 0px 1px 20px #e9e9e9;
    -webkit-box-shadow: 0px 1px 20px #e9e9e9;
    border-radius: 3px;
    margin: 0 25px 25px 0;
    min-height: 20px;
    padding: 25px 5px 0 27px;  
    display:block;
}

.scripShow {    
    border: 1px solid #e9e9e9;    
    box-shadow: 0px 3px 20px #e9e9e9;
    margin-bottom: 20px;
}

.scrip, .scripShow, .viewMsg {
    background: white!important;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    -webkit-background-size: 100% 30px!important;
    -moz-background-size: 100% 30px!important;
    -ms-background-size: 100% 30px!important;
    background-size: 100% 30px!important;
}

.titlebg {
    background: #fff!important;
    width: 100%; 
    height:50px;
}

.titleShow {
    font: 32px 'AmericanTypewriter', Cambria, Georgia; 
    font-weight: bold;
    color: #555; 
    padding: 67px 26px 0 20px;
    margin-bottom: 58px;
    line-height: 10px;
    width: 950px;
    height: 0px!important;
}

.bodyShow {
    font: 18px 'AmericanTypewriter', Cambria, Georgia;
    color: #555;
    padding: 0px 26px 0 20px;
    line-height:30px;
}

.tagsShow {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    padding: 25px 26px 0 20px;
    line-height: 30px;
}

.showDetails {
    font-size: 18px;
    color: #777;
    margin: 10px 0 0 40px;
}

.scrip::before {content:""; z-index:-1; margin: 1px; width:706px; height:10px; position:absolute; bottom:-3px; left:0; background:white; border:0px solid #B5B5B5;}
.scrip::after {content:''; position:absolute; width:0px; top:0; left:20px; bottom:0; border-left:1px solid #f0ad4e;}

.scriptext {
    font-size: 14px;
    line-height: 22px;
    color: #555!important;
    text-align: justify;
}

.scriptions {
    width:100%;
    position: absolute;
    bottom: 0;
    background: #f0ad4e;  
    padding: 7px 12px;
    margin-left:-27px;   
    z-index: 100;  
}

.scrinfo {
    font-size: 14px!important;
    text-align:left;
    color: #fff!important;
    line-height: 16px;
    float:left;
}

.notag { padding-left:20px; line-height:26px;}

.pad {padding: 7px 0 0 10px;}

.optiondivider {
    padding: 0 15px;
    border-right: 0px solid #ad855c;  
}

.center {
    padding-left:20px;
}
    

.fill-div {
    background-color: transparent!important;
    display: block;
    width: 100%;
    height: 100%;
}

.tagdiv {    
    float:right;
    width: 240px;
    border-left: 1px solid #ddd;
    padding-left: 20px;
    height: 100%;
    text-align: right;
}

.tagmenu { 
  
}

.optionmenu { width: 150!important; color: #fff!important; }

#tag_cloud {
    line-height: 1.6em;
    .s { font-size: 0.8em; }
    .m { font-size: 1.2em; }
    .l { font-size: 1.8em; }
}

.catext {
    font-size: 18px!important;
    color: #f0ad4e!important;
}

.scripform {
    height: auto;
}

.scriptype {
    float: left;
    background: #333!important;
}

.newpostCat {
    float:right;
    width:200px;
    text-align:left;
}

.Types {
    background-color: whitesmoke;
    text-align:center;
    margin: 0 auto;
    font-size: 20px;
    color: #888;
    height: 105px;
    line-height:45px;
}

.Cats {
    padding-left: 25px;
    margin: 38px 0 0 0!important;
    background: #ddd;
}

.typtions {
    padding: 20px 30px 20px 45px!important;
    margin-right: -9px!important;
    background: #f0ad4e;
    color: #fff;
}

input#post_title {    
    font: 30px 'AmericanTypewriter', Cambria, Georgia!important; 
    font-weight: bold!important;
    color: #777; 
    margin: 15px 0 0 0;
    width: 950px;
    height: 44px!important;
    padding: 0 0 0 20px;
    box-shadow: none!important;  
    display: inline-block;    
    outline: none!important;
    border: none!important;
    background: transparent;      
}

textarea#post_body {
    background: transparent;
    font: 18px 'AmericanTypewriter', Cambria, Georgia;
    color: #777;
    border: none;
    box-shadow: none!important;
    resize: none;
    height: 500px;
    width: 930px;
    margin: 40px 0 0 20px;
    line-height: 30px;
    outline: 0;
}

.post_title .help-inline {
    position: relative;
    top: -10px;
}

.post_body .help-inline {
    position: relative;
    bottom: 477px;
}

.post_terms .help-inline {
    position: relative;
    left: 10px;
    top: -8px;
}

.pubdate .help-inline {
    position: relative;
    left: -105px;
    top: -5px;
}

input#post_tag_list {
    margin: 15px 0 0 20px!important;
    width: 940px;
    font-family: 'AmericanTypewriter', Cambria, Georgia;
}

.scrippet_tags {
    background: #eee;
    margin-bottom: 20px;
}

label.checkbox.inline.btn-plain {
    padding: 10px 15px 10px 30px!important;
    margin:3px -1px 0 0!important;
}

input#post_publish_date {
    width: 130px;
    font-size:18px;
    color: #777;
}

.pubdate {  
    float:right;
    display: inline-block;
    margin: 10px 0 0 0;
    font-size:15px;
    padding-left: 20px;
    width: 250px;
}

.publishedby {  
    float:left;
    display: inline-block;
    margin: 10px;
}

.btn-plain {
    color: #777;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background: #f5f5f5;
    border: #ccc 1px solid;
}
    
.post_options {
    display:inline-block;
    float:left;
}

.post_buttons {
    float:right;
    margin: 10px 10px 10px 40px;
}

.lightbg {background: #fff4a7!important;}

#scrippet {font: 14px 'AmericanTypewriter', Cambria, Georgia; color: #555; line-height: 30px!important; }

.paper {
padding: 35px 55px 27px!important;
position: relative;
border: 0px solid #B5B5B5!important;
background: white!important;
background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
-webkit-background-size: 100% 30px!important;
-moz-background-size: 100% 30px!important;
-ms-background-size: 100% 30px!important;
background-size: 100% 30px!important;
}
.paper::before {content:""; z-index:-1; margin:0 1px; width:706px; height:10px; position:absolute; bottom:-3px; left:0; background:white; border:1px solid #B5B5B5;}
.paper::after {content:''; position:absolute; width:0px; top:0; left:39px; bottom:0; border-left:1px solid #F8D3D3;}
