/* Example tokeninput style #2: scrippet style */
ul.token-input-list-scrippet {
    overflow: hidden; 
    height: auto !important; 
    width: 100%;
    border: 0px solid #f0a441;
    cursor: text;
    font-size: 20px;
    font-family: Verdana;
    min-height: 45px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background: transparent;
    list-style-type: none;
    clear: left;
}

ul.token-input-list-scrippet li input {
    border: 0;
    width: 500px!important;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

ul.token-input-list-scrippet li input:focus {
    box-shadow:none!important;
}

li.token-input-token-scrippet {
    overflow: hidden; 
    height: auto !important; 
    margin: 5px;
    padding: 1px 3px;
    background-color: #ffffe7;
    color: #f0a441;
    cursor: default;
    border: 1px solid #f0a441;
    font-size: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-scrippet p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-scrippet span {
    color: #f0a441;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-scrippet {
    background-color: #f0a441;
    border: 1px solid #555;
    color: #fff;
}

li.token-input-input-token-scrippet {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-scrippet {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown-scrippet p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-scrippet ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-scrippet ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-scrippet ul li.token-input-dropdown-item-scrippet {
    background-color: #fff;
}

div.token-input-dropdown-scrippet ul li.token-input-dropdown-item2-scrippet {
    background-color: #fff;
}

div.token-input-dropdown-scrippet ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-scrippet ul li.token-input-selected-dropdown-item-scrippet {
    background-color: #3b5998;
    color: #fff;
}
