.user_sidebar {
   width: 250px;
   float: right;
}

.expires {
   float:left;
   font-size: 18px;
   color:#aaa; 
   margin-top: 3px; 
}

.expiration {
   float: right;
   text-align: center;
}

.user_post {
   width: 100%;
   font-weight: bold;
   color: #F4C683;
}

.no_scrippets {
   height: 340px;
   line-height: 315px;
}

.no_scrippets, .see_user_posts {
   background: #ffffe7;
   border-radius: 2px;
   border: 1px solid #f0ad4e;
   width: 679px;
   text-align: center;
   padding: 10px 0;
   display: inline-block;
   font-size: 20px;
}

.no_scrippets a, .see_user_posts a {
   color: #f0ad4e;   
}

.follow-div {
   width: 100%;
   margin-bottom: 15px;
   font-size: 16px;
   background: #FFF;
   border: 1px solid #e9e9e9;
   box-shadow: 0px 1px 20px #e9e9e9; 
   border-radius: 3px;
   padding: 0 0 20px 20px;
   overflow: hidden;
   white-space: nowrap;
   max-height: 500px;
   position: relative;
}

.post_count {
   text-align: center; 
}

.see-all {
   position: absolute;
   bottom: 5px;
   background: #fff;
   padding: 10px 0;
   width: 100%;
}

.top-field {
   border-bottom-left-radius: 0!important;
   border-bottom-right-radius: 0!important;
}

.bottom-field {
   border-top-right-radius: 0!important;
   border-top-left-radius: 0!important;
   border-top: 0px!important;
}

.right-field {
   border-bottom-left-radius: 0!important;
   border-top-left-radius: 0!important;
   border-bottom-right-radius: 4px!important;
   border-top-right-radius: 4px!important;
   border-left: 0!important;
   width: 50%;
}

.input-group-exp {
   font-size: 14px;
   font-weight: normal;
   line-height: 1;
   color: #555555;
   text-align: center;
   background-color: white;
   border: 1px solid #cccccc;
   border-radius: 4px;
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
}

.input-group-exp:last-child {
   border-left: 0;
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
   display: table-cell;
}

.input-group-info {
   font-size: 14px;
   font-weight: normal;
   line-height: 1;
   color: #555555;
   text-align: center;
   background-color: white;
   border: 0px solid #cccccc;
   border-radius: 4px;
   white-space: nowrap;
   vertical-align: middle;
}

.input-group-info:last-child {
   border-left: 0;
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
   display: table-cell;
}

.exp-control {
   text-align: right;
   display: inline;      
   padding: 6px;
   font-size: 14px;
   line-height: 1.428571429;
   color: #555555;
   background-color: transparent;
   border: none;
}

.exp-control:focus {
   border: none;
   outline: 0;
}

.exp_label {
   color: #888;
   padding: 0 10px;
}

div.input-group .help-inline {
   position: absolute;
   top: 35px;
   right: 115px;
   clear: both;
}

.help-inline {
   float: right;
   margin: -26px 10px;
}

////////////////

// Place all the styles related to the tenants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.userForm {
    position: relative;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    padding: 25px;  
    margin: 0 auto;
    width: 500px;   
}

.userFields {
    line-height: 30px;
    font-size: 18px;
    margin: 17px 0 0 0;
}

.signinFields {
    margin: 30px 0 110px 0!important;
}

.ccnumber { float: left; }
.cvv2 { float: right; width: 95px; }

.nonuserField {
    line-height: 18px;
    font-size: 13px;
    margin-bottom: 25px;
}

.formHeader {
    width: 100%;
    margin-top: -18px;
    color: #777;
}

.signupButton {
    width: 500px;
    background: #eee;
    margin: -26px;
    padding: 26px;  
    clear: both;  
}

.signinLinks {
    float: right;
    padding: 8px 10px;
    font-size: 14px;
    clear: both;
}

.sessions input[type="checkbox"], .registrations input[type="radio"] {
    display: none;
}

.sessions .checkbox, .registrations .radio {
    padding-left: 0px;
    margin: 0;
}

form#edit_user div.popupbg .btn {
    width: 160px;
    cursor: pointer;
}

label.radio.inline {
    cursor: pointer;
    font-weight: normal!important;
    font-size: 20px;
    padding-top:0px!important;
}

.sessions label {
    margin-bottom: 0;
    font-weight: normal;
    color: #777;
}

.sessions label.checkbox {
    cursor: pointer;
}

.signin_left {
    width: 49%;
    float:left;
    margin-left:-10px;
}

.signin_right {
    width:49%;
    float:right;
    margin-right:-10px;
}

.memberme {
    float:left;
    font-size: 14px!important;
    color: #aaa!important;
    width: 120px;
    margin: -2px 0 10px 7px;    
}

.deleteacct {
    background: #fff;
    font-size: 20px;
    color: #777;
    text-align: right;
}

.deletedet {
    float:left;
    margin-top:7px;
}

input#user_current_password.password.required {
    font-size:18px;
}

.nbpaper {
    background: white!important;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    -webkit-background-size: 100% 30px!important;
    -moz-background-size: 100% 30px!important;
    -ms-background-size: 100% 30px!important;
    background-size: 100% 30px!important;
    box-shadow: 0px 1px 30px #c46f00; 
    margin-bottom:20px;
}

.nbpapernoglow {
    background: white!important;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px!important;
    -webkit-background-size: 100% 30px!important;
    -moz-background-size: 100% 30px!important;
    -ms-background-size: 100% 30px!important;
    background-size: 100% 30px!important;
    margin-bottom:20px;
    
}

.innerglow {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05) inset;
    height: 450px;
    display: block;
}

.userFormbg {
    background-color: #f0ad4e;
}

.changeSub {
    text-align: center;
    background: #eee;
    margin: 18px 5px 0 5px;
    width: 30%;
    border: 1px solid #e2e2e2;
    display: inline-block;
}

.plandet {
    color: #777;
    font-size: 18px;
    padding: 10px 0;
}

.planroledet {
    color: #eea236;
    font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
}

.Subscription {
    position: relative;
    margin: 0 auto;
    text-align:center;
} 

.deletemsg {
    text-align:center;
}

.labelss {
    float:left;
    line-height: 60px;
    font-size: 19px;
    margin: 3px 0 0 0;
    color:#eea236;
    font-weight: bold;
}

.editFields {
    float:right; 
    width:55%;
    margin-right: -15px;
}

.editFields input {    
    text-align: right;
}

.editButtons {
    clear: both;
    text-align:right;
}

.currentPass {
    float: left;
    width: 49%;
    margin: 7px 0 0 -15px;
}

.changePlan {
    margin:0 -2px;
    width: 160px;
    display: inline-block;
    padding-bottom:25px;  
}

.changecc {
    margin: 10px 50px;
    padding: 0 10px;
    font-size: 18px;
    color: #888;

}

.cancelAcct {
    text-align:center;
    font-size: 18px;
    color:#777;
    line-height: 30px;
    padding: 0 30px;
}

.popupbg {
    background: #f5f5f5;
    margin-bottom: 5px;
}

.modal-header h3 {
    margin: 10px 0 -5px 0!important;
    text-align:center;
}

.modal-footer {
    text-align:center;
    bottom: -15px;
    position: relative;
    margin: 0px!important;
    padding: 0px!important;
    border: 0px!important;
}

#setting-up {
    text-align:center;
    background: #ddd; 
    padding: 30px 0 70px 0;
    display: none;
}

.paperwidth {
    width: 550px!important;
    margin: 0 auto 15px auto;
}

