<div class="nav3menu btn-group">
    <%= link_to 'Add Sticky', new_note_path, class: 'btn btn-default' %> 
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-align-justify gray"></span></a>
      <ul class="dropdown-menu pull-right gray">
        <li><%= link_to new_note_path do %><span class="glyphicon glyphicon-plus"></span> Add Sticky<% end %></li>
        <li><%= link_to notes_accessors_path do %><span class="glyphicon glyphicon-lock"></span> Permissions<% end %></li>
        <li class="divider"></li>
        <li><%= link_to notes_path do %><span class="glyphicon glyphicon-user"></span> All Stickys<% end %></li>         
        <li class="divider"></li>
        <li><%= link_to mystickys_path do %><span class="glyphicon glyphicon-user"></span> My Stickys<% end %></li> 
        <li><%= link_to shared_path do %><span class="glyphicon glyphicon-check"></span> Shared Stickys<% end %></li>    
      </ul>
</div>

<div class="nav3div headerTxt">
  <strong><%= current_user.name %>'s Sticky Board</strong>&nbsp;&nbsp; -&nbsp;&nbsp;  
     <% if request.path == mystickys_path %>
        Showing Only My Notes
     <% elsif request.path == shared_path %>
        Notes Shared With Me
     <% else %>
        Showing All Sticky Notes
     <% end %>
</div>
