<div class="nav2menu btn-group">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-align-justify gray"></span></a>
      <ul class="dropdown-menu pull-right  gray">
        <li><%= link_to new_post_path do %><i class="glyphicon glyphicon-plus"></i> Post Scrippet<% end %></li>
        <li class="divider"></li>
        <li><%= link_to posts_path do %><i class="glyphicon glyphicon-user"></i> See All Scrippets<% end %></li>         
        <li class="divider"></li>
        <li><%= link_to posts_path(:user => current_user) do %><i class="glyphicon glyphicon-user"></i> My Scrippets<% end %></li> 
        <li><%= link_to shared_path do %><i class="glyphicon glyphicon-check"></i> Scrippet Users<% end %></li>    
      </ul>
</div>

<div class="nav2div">
   <% Category.all.each do |cat| %>      
      <%= link_to cat.name.upcase, posts_path(:cat => cat.id), :class => 'nav2text' %>
   <% end %>
</div>

