<div id="nav_main">
<div class="logo">
  <%= link_to image_tag("logo.png", border: 0, class: 'brand'), posts_path if current_user %>
  <%= link_to image_tag("logo.png", border: 0, class: 'brand'), root_path unless current_user %>
</div>

<%= render partial: 'layouts/login_buttons' %>

<% if user_signed_in? %>
  <ul class="nav">
    <li>
      <%= link_to 'Scrippet Post'.upcase, posts_path %>
    </li>  
    <li>
      <%= link_to 'Sticky Board'.upcase, notes_path %>
    </li> 
    <li>
      <%= link_to 'Projects'.upcase, projects_path %>
    </li> 
    <li>
      <%= link_to followers_path do %>FOLLOWERS: <span class="orange">
      <%= current_user.count_user_followers %></span><% end %>
    </li>        
    <li>     
      <%= link_to following_path do %>FOLLOWING: <span class="orange">
      <%= current_user.following_users_count %></span><% end %>
    </li>
    <% if current_user.has_role? :admin %>         
     
    <% end %>   
  </ul>         
<% else %>
  <ul class="nav">
    <li>      
      <span class="head-caption">Enabling writers and inspiring creativity</span>
    </li>
  </ul>
<% end %>
</div>




