<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Scrippet" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Scrippet" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-top">
        <div class="container">
          <%= render 'layouts/nav_main' %>
        </div>
      </nav>
      <% if request.path == posts_path %>
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/nav_posts' %>
        </div>
      </nav>
      <% end %>
      <% if @sticky_pg == true %>
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/nav_notes' %>
        </div>
      </nav>
      <% end %>
    </div>    
    <div>
      <%= render 'home/header' %>
    </div> 
    <div id="main" role="main">
      <% if request.path == notes_path %>
        <div class="content">
           <div class="row">
            <div>
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
           </div>
          <footer>
          </footer>
        </div>
      <% else %>
      <div class="container">
        <div class="content">
           <div class="row">
            <div>
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
           </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container --> 
      <% end %>
    </div> <!--! end of #main -->
  </body>
</html>
